<h1>Listing fellows</h1>

<table>
  <thead>
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th>Nonprofit</th>
      <th>Benefactor</th>
      <th>Employer</th>
      <th>Metro</th>
      <th>Cohort</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fellows.each do |fellow| %>
      <tr>
        <td><%= fellow.image %></td>
        <td><%= fellow.name %></td>
        <td><%= fellow.nonprofit %></td>
        <td><%= fellow.benefactor %></td>
        <td><%= fellow.employer %></td>
        <td><%= fellow.metro %></td>
        <td><%= fellow.cohort %></td>
        <td><%= link_to 'Show', fellow %></td>
        <td><%= link_to 'Edit', edit_fellow_path(fellow) %></td>
        <td><%= link_to 'Destroy', fellow, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fellow', new_fellow_path %>
